.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**.json
**.json.gz
**logs/
**plugins/
**data/
**ny_taxi_postgres_data/
**data_pgadmin/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
/guide
**.csv
**.parquet
**fhvhv/
**.part*